[Unit]
Description=Statsd exporter service for Prometheus
Documentation=https://prometheus.io/docs/
After=network-online.target

[Service]
User=root
Restart=on-failure
EnvironmentFile=/etc/sysconfig/statsd_exporter
ExecStart=/opt/statsd_exporter/statsd_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
